<!-- BEGIN domains-->	
	<!-- BEGIN domain-->
		<a href="#" onclick="selectDomain('{domain_id}', '{domain_url}', '{task_id}'); return false;">{domain_url}</a><br>
	<!--END domain-->
	<!-- BEGIN no_domain-->
		<div>No domains found for <b>{search_domain}</b></div>
	<!--END no_domain-->
<!-- END domains-->

<!-- BEGIN clients-->	
	<!-- BEGIN client-->
		<a href="#" onclick="selectClient('{client_id}', '{client_name}', '{task_id}'); return false;">{client_name}</a><br>
	<!--END client-->
	<!-- BEGIN no_client-->
		<div>No clients found for <b>{search_client}</b></div>
	<!--END no_client-->
<!-- END clients-->