<html>
<head>
   <title>Control</title>
   <link rel="stylesheet" href="site.css" type="text/css"/>
   <script language="javascript" src="./scripts/calendar.js"></script>
   <script language="javascript">
	function clearFilter()
	{
		document.frmFilter.commited.checked = false;
	}
	function selectPeriod()
	{
		var period = document.frmFilter.period_selected.options[document.frmFilter.period_selected.selectedIndex].value;
		var startDate = ""; var endDate = "";

		if (period == "none") {
			startDate = "{start_date}"; endDate = "{end_date}";
		} else if(period == "today") {
			startDate = "{today_date}"; endDate = "{today_date}";
		} else if(period == "yesterday") {
			startDate = "{yesterday_date}"; endDate = "{yesterday_date}";
		} else if(period == "this_week") {
			startDate = "{this_week_start}"; endDate = "{this_week_end}";
		} else if(period == "last_week") {
			startDate = "{last_week_start}"; endDate = "{last_week_end}";
		} else if(period == "prev_week") {
			startDate = "{prev_week_start}"; endDate = "{prev_week_end}";
		} else if(period == "this_month") {
			startDate = "{this_month_start}"; endDate = "{this_month_end}";
		} else if(period == "last_month") {
			startDate = "{last_month_start}"; endDate = "{last_month_end}";
		} else if(period == "prev_month") {
			startDate = "{prev_month_start}"; endDate = "{prev_month_end}";
		} else if(period == "this_year") {
			startDate = "{this_year_start}"; endDate = "{this_year_end}";
		}
		document.frmFilter.start_date.value = startDate;
		document.frmFilter.end_date.value = endDate;
	}
</script>
</head>
<body class="PageBODY">
{ITEMPLATE=header.html}

<CENTER>
	<div id="menu_body">
	<table>
	 <tr><CENTER>
	  <td nowrap>
		<a href="cvs_modules.php" class="DataTD">CVS Modules</a>
	  </td>
	  <td nowrap>
		|&nbsp;<a href="cvs_warnings" class="DataTD">CVS Warnings</a>
	  </td>
	  <td nowrap>
		|&nbsp;<a href="./cvs_logger" class="DataTD">CVS Logger</a>
	  </td>
	  </CENTER>
	 </tr>
	</table>
	</div>
</CENTER>
<br/>

<table width="100%">
	<tr>
		<td valign="top" width="70%" rowspan="2">
			<table class="FormTABLE" border="0" width="100%">
				<tr>
					<td class="FormHeaderTD" colspan="5">
						<font class="FormHeaderFONT">CVS Warnings</font>
					</td>
				</tr>
				<tr align="center">
					<td class="DataRow1">
						<a href="cvs_warnings.php?sort=user&sortDir={user_sortDir}&{query_string}">User</a>
					</td>
					<td class="DataRow1">
						<a href="cvs_warnings.php?sort=project&sortDir={project_sortDir}&{query_string}">Project</a>
					</td>
					<td class="DataRow1">
						<a href="cvs_warnings.php?sort=module&sortDir={module_sortDir}&{query_string}">Module</a>
					</td>
					<td class="DataRow1">
						<a href="cvs_warnings.php?sort=sd&sortDir={sd_sortDir}&{query_string}">Expecting Date</a>
					</td>
					<!-- BEGIN commited_header-->
					<td class="DataRow1">
						<a href="cvs_warnings.php?sort=cd&sortDir={cd_sortDir}&{query_string}">Commited Date</a>
					</td>
					<!-- END commited_header-->
					
				</tr>
				<!-- BEGIN warning -->
				<tr>
					<td class="{colorrow}" nowrap>{first_name} {last_name}</td>
					<td class="{colorrow}" nowrap>{project_title}</td>
					<td class="{colorrow}" nowrap>{cvs_module}</td>
					<td class="{colorrow}" nowrap>{started_date}</td>
					<!-- BEGIN commited_td-->
					<td class="{colorrow}" nowrap>{commited_date}</td>
					<!-- END commited_td-->
				</tr>
			    <!-- END warning -->
			    
			    <!-- BEGIN no_warnings -->
				<tr>
					<td class="DataRow2" colspan="5" align="center">
						No Warnings
					</td>
				</tr>
			    <!-- END no_warnings -->
			</table>
		</td>
		<td valign="top"  width="30%" height="50%">
			<table border="0" width="100%">
				<form name="frmFilter" action="cvs_warnings.php?{filter_query_string}" method="POST">
					<tr>
						<td align="left">Select period:</td>
						<td>
							<select name="period_selected" onChange="selectPeriod()" style="width:150px">
								<option value="none">----- Period -----</option>
								{periods}
							</select>
						</td>
					</tr>
					<tr>
						<td align="left" >Start Date:</td>
						<td >
							<input type="text" name="start_date" value="{start_date}" onChange="setPeriod(0)" style="width:150px">
							<A HREF="javascript:doNothing()" onClick="setDateField(document.frmFilter.start_date);
								top.newWin = window.open('./scripts/calendar.html','cal','dependent=yes,width=210,height=230,screenX=200,screenY=300,titlebar=yes')">
							<IMG SRC="./images/calendar.gif" BORDER=0><font size=1>Calendar</font></A>
						</td>
					</tr>
					<tr>
						<td align="left" >End Date:</td>
						<td >
							<input type="text" name="end_date" value="{end_date}" onChange="setPeriod(0)" style="width:150px">
							<A HREF="javascript:doNothing()" onClick="setDateField(document.frmFilter.end_date);
								top.newWin = window.open('./scripts/calendar.html','cal','dependent=yes,width=210,height=230,screenX=200,screenY=300,titlebar=yes')">
							<IMG SRC="./images/calendar.gif" BORDER=0><font size=1>Calendar</font></A>
						</td>
					</tr>
					<tr>
						<td align="left" >Filter by person:</td>
						<td>
							<select name="person_selected" style="width:150px">
							<option value="">---- All users ----</option>{person_list}</select>
						</td>
					</tr>
					<tr>
						<td>
							Show Commited
						</td><td>
							<input type="checkbox" {commited_checked} name="commited">
						</td>
					</tr>
					<tr>
						<td align="center" colspan="2">
							<input type="submit" value=" Filter " name="submit">&nbsp;
							<input type="button" value=" Clear " onclick="clearFilter()">
						</td>
					</tr>
				</form>		
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top" height="50%">		
			<table class="FormTABLE" border="0" width="100%">
				<tr>
					<td class="FormHeaderTD" colspan="5">
						<font class="FormHeaderFONT">Total Statistics</font>
					</td>
				</tr>
				<tr align="center">
					<td class="DataRow1">
						Commited in (Days)
					</td>
					<td class="DataRow1">
						Warnings
					</td>					
				</tr>
				<!-- BEGIN stat_warning -->
				<tr>
					<td class="{colorrow}" nowrap>{commit_days}</td>
					<td class="{colorrow}" nowrap>{modules}</td>
				</tr>
			    <!-- END stat_warning -->
			</table>		
		</td>
	</tr>
</table>

</body>
</html>