<table border="1" align="center" style="display:'none';left:0px; top:0px" id='extra_view' class="FormTABLE">
	<tr>
		<td class="DataTD">Number of hours</td>
		<td>
			<input type="text" size="10" id="extra_hour" name="extra_hour" maxlength="10" value="">
		</td>
	</tr>
	<tr>
		<td class="DataTD">Month</td>
		<td class="DataTD"><select id="extra_month" name="extra_month" style="width:150px">{emonth}</select></td>
	</tr>
	<tr>
		<td class="DataTD">Year</td>
		<td class="DataTD"><select id="extra_year" name="extra_year" style="width:150px">{eyear}</td>
	</tr>
</table>