<!-- BEGIN manager_notes -->
<table cellpadding="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #cccccc; background-color: #eeeeee;">
	<!-- BEGIN morning_note_row -->
  	<tr>
  		<td><b>Plan for today</b><br>by {manager_name}<!-- BEGIN edit_note_link --><br><a href="managing_reports_edit.php?report_id={report_id}">edit</a><!-- END edit_note_link --></td>
  		<td>{morning_note}</td>
  	</tr>
  	<!-- END morning_note_row -->
    <!-- BEGIN evening_note_row -->
  	<tr>
  		<td><br><b>{point_description}</b></td>
  		<td><br>{evening_note}</td>
  	</tr>
  	<!-- END evening_note_row -->  		
</table>
<!-- END manager_notes -->