<table width="100%" cellspacing="0" cellpadding="0"><tr>
	<td align="center" style="border: 1px solid #ffcc00; background-color: #ffeedd; font-weight:bold">
		<table cellpadding="4px" cellspacing="1px">
			<tr>
				<td colspan="3">
					CVS Modules to commit
				
				</td>
			</tr>
			<!--BEGIN cvs_message-->
			<tr>
				<td>{cvs_module}</td>
  				<td>{started_date}</td>
  				<td><a href='cvs_warnings.php?module={cvs_module}&operation=refuse'>[x]</a></td>
  			</tr>
  			<!--END cvs_message-->
  		</table>
	</td>	
</tr></table>  