<html>

<head>
<title>
	Control
</title>
<link rel="stylesheet" href="site.css" type="text/css"/>
<script language="javascript" src="./scripts/calendar.js"></script>
<script>
	function DeleteOffice(num)
	{
		if(confirm('Are you sure you want to delete this Office?') && (num > -1))
		{
			document.frmOfficeEdit.operation.value ="delete";
			document.frmOfficeEdit.office_id.value = num;
			document.frmOfficeEdit.submit();
		}
	}
</script>
</head>

<body class="PageBODY">
{ITEMPLATE=header.html}
<table cellpadding="0" cellspacing="0" width=100% border="0">
<tr>
 <td valign="top">
 	<table>
 		<tr>
 			<td>
 				<!-- BEGIN error --><div style="padding: 10px; background-color: red;"><font color=white>{err}</font></div><!-- END error -->
 			</td>
 		</tr>
 	</table>
 </td>
</tr>
<tr>
 <td align="center">
	<div id="menu_body">
	<table>
 		<tr>
  			<td nowrap>
				<a href="inventory.php" class="DataTD">Inventories</a>
  			</td>
  			<td nowrap>
				|&nbsp;<a href="inventory_types.php" class="DataTD">Types</a>
  			</td>
  			<td nowrap>
				|&nbsp;<a href="inventory_offices.php" class="DataTD">Offices</a>
  			</td>
  			<td nowrap>
				|&nbsp;<a href="inventory_report.php" class="DataTD">Report</a>
			</td>
 		</tr>
	</table>
	</div>

	<table class="FormTABLE">
	<form name="frmOfficeEdit" action="inventory_office.php" method="POST">
	<input type="hidden" name="operation" value="{operation}">
    <input type="hidden" name="office_id" value="{office_id}">
		<tr>
			<td class="FormHeaderTD" colspan="3">
				<font class="FormHeaderFONT">Create New Office</font></a>
			</td>
		</tr>
		<!--
		<tr>
			<td class="ColumnTD" colspan="2">
				<font class="ColumnFONT">Details</font>
			</td>
		</tr>
		-->
		<tr>
    		<td>
		    	Office title: *
			</td>
      		<td nowrap>
      			<input type="text" style="width:220px" name="office_title" value="{edit_office_title}">
			</td>
		<tr>
		    <td>
		    	Office address:
			</td>
			<td nowrap>
      			<input type="text" style="width:220px" name="office_address" value="{edit_office_address}">
			</td>
		</tr>
		<tr>
    		<td colspan="2" align="right">
				<input type="submit" value="Save">
				<!-- BEGIN delete -->
					<input type="button" value="Delete" {enable} onClick="javascript:DeleteOffice({office_id})">
				<!-- END delete -->
				<input type="button" value="Cancel" onclick="javascript:document.location='{urlback}'">
			</td>
		</tr>
	</form>
	</table>
 </td>
</tr></table>

</body>

</html>