<html>
<head>
<title>Control</title>
<link rel="stylesheet" href="site.css" type="text/css"/>
<script language="JavaScript">
<!--
	function clearFilter()
	{
		document.frmFilter.year_selected.value = "";
		document.frmFilter.month_selected.value = "";
		document.frmFilter.person_selected.value = "";
	}
	
	var UserTeam = new Array();
	var UserID = new Array(); 
	var UserName = new Array();	
	<!-- BEGIN PeopleArray -->
	UserTeam[{ID}]={IDteam};	UserID[{ID}]={IDuser};		UserName[{ID}]="{user_name}";<!-- END PeopleArray -->

function MkPeopleList(index,plist)
{
	var aCurrValues = UserID;
	var nCurrValuesCnt = (aCurrValues ? aCurrValues.length : 0);
	var oList = document.forms["frmFilter"].elements["person_selected"];
	oList.length = 0;
	
	var team=1;
	switch (index)
	{
		case "yoonoo"	: team= 0;break;
		case "viart"	: team= 1;break;
		case "all"	: team=-1;break;
		default		: team= 0;
	}
	
	var txt="";
	
	if (nCurrValuesCnt)
	{
		for (i = -1; i < nCurrValuesCnt; i++)
		{
			if ((UserID[i] && ((team==-1)||(team>-1 && UserTeam[i]==team) )  ) || i==-1) 
			{
				txt+="\n"+i;
				if (document.createElement)
				{
					if (i>=0)
					{
						var newListOption = document.createElement("OPTION");
						newListOption.text = UserName[i];
						newListOption.value = UserID[i];
					} else {
						var newListOption = document.createElement("OPTION");
						newListOption.text = "------ All people ------";
						newListOption.value = "0";
					}
					(oList.options.add) ? oList.options.add(newListOption) : oList.add(newListOption, null);
				}
			}	
		}
	}  
}
//-->
</script>
</head>

<body class="PageBODY">
{ITEMPLATE=header.html}

<div align="center">

		<form name="frmFilter" action="projects_report_small.php">
		<table border=0>
		<tr>
			<td align="right">
				Select year:
			</td>              
			<td>
				<select name="year_selected" style="width:150px">
					<option value="">--------- Year ---------</option>
					{years}
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">
				Select month:
			</td>              
			<td>
				<select name="month_selected" style="width:150px">
					<option value="">-------- Month --------</option>
					{months}
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">
				Select Team: 
			</td>
			<td>
				<select name="team" style="width:150px" onchange="MkPeopleList(this.value,'id_people')">
				<option value="all" {aselected}>All teams</option>
				<option value="viart" {vselected}>ViArt team</option>
				<option value="yoonoo" {yselected}>YooNoo team</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">
				Filter by person:
			</td>              
			<td>
				<select name="person_selected" style="width:150px" id="id_people">
					<option value="">------ All people ------</option>
					{people}
				</select>
			</td>
		</tr>	
		<tr>
			<td align="center" colspan="2">
				<input type="submit" value=" Filter " name="submit">&nbsp;
				<input type="button" value=" Clear " onclick="clearFilter()">
			</td>
		</tr>
		<script language="javascript">
		<!--
			MkPeopleList(document.frmFilter.elements["team"].value,'id_people');
			document.frmFilter.elements["person_selected"].value={person_selected};
			//--!>
		</script>
		</table>
		</form>
</div>
<div align="center">
	<!--BEGIN records-->
	<table>
	    <tr align="center">
	    	<td class="ColumnTD" nowrap><font class="ColumnFONT">
	   			Person
	   		</font></td>
	   		<td class="ColumnTD" nowrap><font class="ColumnFONT">
	   			Task
	   		</font></td>
			<td class="ColumnTD" nowrap><font class="ColumnFONT">
				Time spent
			</font></td>
		</tr>
	<!--BEGIN user_block-->
		<tr>
			<td colspan="3" class="DataTDP"><font class="DataFONT">
				{user}
			</font></td>
		</tr>
		<!--BEGIN project_row-->
		<tr>
			<td>
				&nbsp;
			</td>
			<td class="DataTD"><font class="DataFONT">
				{project_title}
			</font></td>
			<td class="DataTD"><font class="DataFONT">
				{sum_hours}
			</font></td>
		</tr>
		<!--END project_row-->
	<!--END user_block-->
	</table>
	<!--END records-->
</div>
</body>
</html>