<html>
<head>
<title>
	Control
</title>
<link rel="stylesheet" href="site.css" type="text/css"/>
<script language="javascript" src="./scripts/calendar.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    $(document).ready(function() {  
    	$("#lnkCreateUser").click(function() {
        		$.post("svn/add_user.php", {svn_subdomain:$("#svn_subdomain").val(), new_user:$("#svn_login").val(), new_password:$("#svn_password").val()}, function(xml) {
        			alert(xml);
        		});
    	});
    	if ($("#svn_login").val() && $("#svn_password").val()) {
    		$("#lnkCreateUser").hide();
    	}
	});
</script>    	

<script language="javascript">
	var UserTeam = new Array();
	var UserID = new Array();
	var UserName = new Array();
	<!-- BEGIN PeopleArray -->
	UserTeam[{ID}]={IDteam};
	UserID[{ID}]={IDuser};
	UserName[{ID}]="{user_name}";
	<!-- END PeopleArray -->
	
	var TeamName = new Array();
	<!-- BEGIN TeamArray -->
	TeamName[{ManagerID}] = "{teams_name}";
	<!-- END TeamArray -->
	
	function deleteUser()
	{
		if(confirm('Are you sure you want to delete this user?'))
		{
			document.frmUser.operation.value = "delete";
			document.frmUser.submit();
		}
	}

	function UnDeleteUser()
	{
		if(confirm('Are you sure you want to recovery this user?'))
		{
			document.frmUser.operation.value = "undelete";
			document.frmUser.submit();
		}
	}
	function LoadManagers ()
	{
		var OldList = document.forms["frmUser"].elements["manager_list"];//document.frmUser.elements["manager_list"];
  		OldList.length = 0;

		var team = 1;
		if (document.frmUser.is_viart.checked) { team = 1;}
		else { team = 0;}
		for (i=-1; i<UserName.length; i++){
			if ((UserID[i] && UserTeam[i] == team) || i==-1) {
				if (document.createElement) {
					if (i>=0) {
						var newListOption =  document.createElement("OPTION");
						newListOption.text = UserName[i];
						newListOption.value = UserID[i];
					} else {
						var newListOption = document.createElement("OPTION");
						newListOption.text = "---- All manager ----";
						newListOption.value = "-1";
					}
					(OldList.options.add) ? OldList.options.add(newListOption) : OldList.add(newListOption, null);				
				} else {
					if (i>-1) { OldList.options[i] = new Option(UserID[i], UserName[i], false, false);}
					else { OldList.options[i] = new Option(-1, "---- All manager ----", false, false);}
				}
			}
		}
	}
	
	function LoadTeam()
	{
		var ManagerID = document.frmUser.manager_list.value;
		if (TeamName[ManagerID]) {
			document.frmUser.team_name.value = TeamName[ManagerID];
		} else {
			document.frmUser.team_name.value = "";
		}
	}
</script>
</head>

<body class="PageBODY">
{ITEMPLATE=header.html}

<table cellpadding="0" cellspacing="0"><tr><td>
<table class="FormTABLE" border="0">

	<form name="frmUser" action="user_profile.php{params}" method="POST">
	<input type="hidden" name="operation" value="submit">
	<tr>
		<td class="FormHeaderTD" colspan="3">
			<font class="FormHeaderFONT">User Profile</font>
		</td>
	</tr>
	<tr>
		<td class="ColumnTD" colspan="2">
			<font class="ColumnFONT">Contact Details</font>
		</td>
	</tr>
	<tr>
    		<td>
		    	First Name: *
		</td>
      		<td nowrap>
      			<input type="text" name="first_name" value="{first_name}">
		</td>
	</tr>
	<tr>
		<td>
			Last Name: *
		</td>
      		<td nowrap>
      			<input type="text" name="last_name" value="{last_name}">
		</td>
	</tr>
	<tr>
		<td>
			E-Mail: *
		</td>
		<td nowrap>
      			<input type="text" name="email" value="{email}">
		</td>
	</tr>
	<tr>
    		<td>
		    	Work Phone:
		</td>
		<td nowrap>
      			<input type="text" name="day_phone" value="{day_phone}">
		</td>
	</tr>
	<tr>
    		<td>
		    	Home Phone:
		</td>
		<td nowrap>
      			<input type="text" name="evn_phone" value="{evn_phone}">
		</td>
	</tr>
	<tr>
    		<td>
		    	Cell Phone:
		</td>
		<td nowrap>
      			<input type="text" name="cell_phone" value="{cell_phone}">
		</td>
	</tr>
	<tr>
    		<td>
			MSN Account:
		</td>
		<td nowrap>
      			<input type="text" name="msn_account" value="{msn_account}">
		</td>
	</tr>
	<tr>
    	<td>
			Skype Account:
		</td>
		<td nowrap>
      			<input type="text" name="skype_account" value="{skype_account}">
		</td>
	</tr>
	<tr>
    		<td>
		    	SMS Account:
		</td>
		<td nowrap>
      			<input type="text" name="sms_account" value="{sms_account}">
		</td>
	</tr>	
	<tr>
    	<td>
		    	Birth Date:
		</td>
		<td nowrap>
      			<input type="text" name="birth_date" value="{birth_date}">
			<A HREF="#" onClick="setDateField(document.frmUser.birth_date); top.newWin = window.open('./scripts/calendar.html','cal', 'dependent=yes,width=210,height=230,screenX=200,screenY=300,titlebar=yes')">
				<IMG SRC="./images/calendar.gif" BORDER=0><font size=1>Calendar</font>
			</A>
		</td>
	</tr>
	<tr>
	    	<td>Start Working Date:</td>
      		<td nowrap>
      			<input type="text" name="start_date" value="{start_date}" {is_disabled}>
      			<A HREF="#" style="display:{display_start_calendar}" onClick="setDateField(document.frmUser.start_date);
			top.newWin = window.open('./scripts/calendar.html','cal',
			'dependent=yes,width=210,height=230,screenX=200,screenY=300,titlebar=yes')"><IMG SRC="./images/calendar.gif" BORDER=0><font size=1>Calendar</font></A>
	  		</td>
        </tr>
    	<tr>
    		<td colspan="2">
		    	Address:<br>
      			<textarea name="address" cols="50" rows="3">{address}</textarea>
		</td>
	</tr>
	<tr>
		<td>
			Show users list at index page
		</td>
		<td>
			<input type="checkbox" name="show_users_list" {show_users_list_checked} value="1">
		</td>
	</tr>
	<tr>
		<td>
			Show projects list at index page
		</td>
		<td>
			<input type="checkbox" name="show_projects_list" {show_projects_list_checked} value="1">
		</td>
	</tr>
	<tr>
		<td class="ColumnTD" colspan="2">
			<font class="ColumnFONT">Additional Details</font>
		</td>
	</tr>
	<!--<tr>
    	<td>
		   	CVS Login:
		</td>
		<td nowrap>
      		<input type="text" name="cvs_login" value="{cvs_login}">
		</td>
	</tr>-->
	<tr>
    	<td>
		   	SVN Login:
		</td>
		<td nowrap>
      		<input type="text" name="svn_login" id="svn_login" value="{svn_login}">
      		<a href="javascript::" id="lnkCreateUser">Create SVN User</a>
		</td>
	</tr>
	<tr>
    	<td>
		   	SVN Password:
		</td>
		<td nowrap>
      		<input type="text" name="svn_password" id="svn_password" value="{svn_password}">
		</td>
	</tr>
	<tr>
    	<td>
		   	Developer Subdomain Prefix (e.g. put "ss" for ss.sayuconnect.com):
		</td>
		<td nowrap>
      		<input type="text" name="svn_subdomain" size=2 id="svn_subdomain" value="{svn_subdomain}">.sayuconnect.com
		</td>
	</tr>

	<tr>
    	<td>
		   	Sayu Web Clients Resource Allocation (%):
		</td>
		<td nowrap>
      		<input type="text" name="web_clients_resource" id="web_clients_resource" value="{web_clients_resource}">
		</td>
	</tr>
	
	<!-- BEGIN control -->
		<tr>
    		<td>
		    	ViArt Helpdesk ID:
		</td>
		<td nowrap>
      			<input type="text" name="helpdesk_user_id" value="{helpdesk_user_id}" size="2">
		</td>
	</tr>
	<tr>
		<td>
			Open tasks for Helpdesk tickets?
		</td>
		<td>
			<input type="checkbox" name="ticket_tasks" {ticket_tasks_checked} value="1">
		</td>
	</tr>
	<tr>
   		<td>
			Office:
		</td>
		<td nowrap>
      			<select name="office_id">{offices}</office>
		</td>
	</tr>
	<tr>
		<td>
			Is "Viart" team?
		</td>
		<td>
			<input type="checkbox" name="is_viart" {viart_checked} onClick="javascript:LoadManagers();">
		</td>
	</tr>
	<tr>
		<td>
			Flexible schedule
		</td>
		<td>
    		<input type="checkbox" name="is_flexible" {flexible_checked}>
		</td>
	</tr>
	<tr>
		<td>
			Send SMS via Esendex service?
		</td>
		<td>
			<input type="checkbox" name="is_sms" {sms_checked}>
		</td>
	</tr>
	<tr>
		<td>
			Request CVS commits when CVS-linked project`s task is closing?
		</td>
		<td>
			<input type="checkbox" name="is_cvs_notification" {cvs_notification_checked}>
		</td>
	</tr>
	
	<tr>
		<td class="ColumnTD" colspan="2">
			<font class="ColumnFONT">Login Details</font>
		</td>
	</tr>
	<tr>
    		<td>
		    	Login: *
		</td>
		<td nowrap>
      			<input type="text" name="login" value="{login}">
		</td>
	</tr>
	<tr>
    	<td>
		    	Password: *
		</td>
		<td nowrap>
      			<input type="text" name="password" value="{password}">
		</td>
	</tr>
	<tr>
    	<td>
			Privilege Group: *
		</td>
		<td nowrap>
      			<select name="privilege_group" style="width:180">{privileges}</select>
		</td>
	</tr>
	<tr>
    	<td>
			Manager: *
		</td>
		<td nowrap>
      			<select name="manager_list" onChange="javascript:LoadTeam();" style="width:180">
      			{manager_list}
      			<!--<option value="">---- All manager ----</option>-->
      			</select>
		</td>
	</tr>
	<tr>
    	<td>
			Team:
		</td>
		<td nowrap>
      		<input type="text" name="team_name" id="team_name" value="{team_name}" {is_readonly} style="width:180">
		</td>
	</tr>
	<!-- END control -->
	<tr>
    		<td colspan="2">
			<input type="submit" value="Submit">
			<!-- BEGIN delete -->{buttondelete}<!-- END delete -->
		</td>
	</tr>

	</form>

</table>
</td>
<td valign="top"><!-- BEGIN error --><div style="padding: 10px; background-color: red;"><font color=white>{err}</font></div><!-- END error -->
</td></tr></table>

</body>

</html>